.detail-s1 {
    //left
    .detail-s1-block {
        padding: 48px;
        img {
            width: 100px;
            max-width: 100px;
        }
        .material-icons {
            font-size: 22px;
            color:$primary;
            margin-right: 8px;
        }
        .border-left {
            border-left: 2px solid $primary;
            padding-left: 8px;
        }
        ul {
            padding-left: 16px;
        }
        ul li {
            list-style-type: square;
        }
        ul li::marker {
            color:$primary;
        }
        @include mobile {
            padding: 24px;
            .block-left {
                margin-bottom: 20px;
            }
        }
    }
    //right
    .price-block {
        padding: 40px 32px;
        border:1px solid $white;
        position: relative;
        @include mobile {
            margin-top: 40px;
        }
        &::before,&::after {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: #fff;
        }
        &::before {
            top: -5px;
            left: -5px;
        }
        &::after {
            top: -5px;
            right: -5px;
        }

        ul {
            padding: 0;
            margin-bottom: 0;
            li {
                border: 1px solid #C1C1C1;
                border-width: 0 0 1px 0;
                padding-bottom: 16px;
                margin-bottom: 16px;
                &:nth-last-child(1) {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-width: 0;
                    &::before,&::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                    }
                    &::before {
                        bottom: -5px;
                        left: -5px;
                    }
                    &::after {
                        bottom: -5px;
                        right: -5px;
                    }
                }
                a {
                    color: #fff;
                    transition: .3s;
                    &:hover {
                        .price-text-block {
                            transition: .3s;
                            color:$primary;
                        }
                    }
                }
                .circle-btn {
                    width: 32px;
                    height: 32px;
                    background: linear-gradient(to bottom, $secondary, $primary);
                    background: -webkit-linear-gradient(to bottom, $secondary, $primary);
                    border-radius: 50%;
                }
            }
        }
    }
}

