//全站字體
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    &:hover {
        color:$primary;
    }
}

h3,h4,h5,h6 {
    line-height: $line-height-base;
}

h1 {
    font-weight: 700;
}

h3 {
    margin-bottom: 48px;
    .h3-line {
        width: 50px;
        height: 3px;
        background-color: $primary;
        margin:16px auto 0;
    }
}

h4 {
    font-weight: 700;
    .h4-line {
        width: 50px;
        height: 3px;
        background-color: $white;
        margin:16px 0 32px;
        @include mobile {
            margin-left: auto;
            margin-right: auto;
            background-color: $primary;
        }
    }
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 80px 0;
    @include mobile {
        padding: 40px 0;
    }
}

ul {
    li {
        list-style-type: none;
    }
}

.btn-base {
    text-align: center;
    display:inline-block;
    border-radius:12px;
    border: 1px solid transparent;
    padding:8px 32px;
    text-decoration: none;
    font-size: 18px;
    transition:.3s;
    &.btn-gradient {
        background: linear-gradient(to right, $secondary, $primary);
        background: -webkit-linear-gradient(to right, $secondary, $primary);
        color: #fff;
    }
    &.btn-white {
        border: 1px solid $white;
        color:$white;
        &:hover {
            transition:.3s;
            background-color: #fff;
            color:$dark;
        }
    }
}



//header
.navbar{
    padding:24px 0;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, $primary, $secondary,);
    .navbar-brand {
        margin-right: 0;
        height:42px ;
        width: 165px;
        background: url('../images/logo.svg') center center no-repeat;
        @include mobile{
            height: 24px;
            width: 24px;
            background: url('../images/logo-mb.svg') center center no-repeat;
        }
    }
    .navbar-collapse {
        flex-grow: 0;
    }
}

.navbar-dark {
    .navbar-toggler {
        border: none;
    }
    .navbar-toggler-icon {
        background: url('../images/mb-nav.png') center no-repeat;
    }
} 


//footer
footer {
    color: #909090;
    @include mobile{
        font-size: 14px;
    }
}